@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap");

:root {
  /* --background-color: #101820ff; */
  --background-color: rgb(0, 0, 0);
  --primary-color: #eeeeee;
  --logo-color: #ffe600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Courier Prime", monospace;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Navigation Bar Start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px 60px;
  background: var(--background-color);
  color: var(--primary-color);
  border-bottom: 1px solid var(--logo-color);
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--logo-color);
}
header .logo img {
  width: 50px;
}
header .navigation {
  display: flex;
  list-style: none;
}
header .navigation li {
  padding-left: 20px;
}
header .navigation li a {
  font-size: 20px;
}
/* Navigation Bar End */

/* Hero Section Start */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 112px;
  padding-top: 118px;
  background: var(--background-color);
  color: var(--primary-color);
}
.hero .hero_content h1 {
  font-size: 35px;
}
.hero .hero_content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 22px;
}
.hero .hero_content a {
  padding: 10px 10px;
  background: var(--logo-color);
  color: var(--background-color);
  transition: all 0.2s ease-in-out;
}
.hero .hero_content a:hover {
  padding: 10px 15px;
}
/* Hero Section End.... */

/* How To Section Start */
.how_to {
  background: var(--background-color);
  color: var(--primary-color);
  padding-bottom: 50px;
}
.how_to img {
  width: 100px;
}
.how_to .how_to_title {
  font-size: 25px;
  text-align: center;
  padding-top: 60px;
}
.how_to .how_it_works {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.how_to .how_it_works div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #1f1e1e;
  padding: 50px;
  width: 300px;
  height: 300px;
}
.how_to .how_it_works div img {
  padding-bottom: 10px;
}

.wrapper {
  font-family: Poppins;
  background: var(--background-color);
  margin-top: 80px;
  /* max-width: 1200px; */
  /* margin: auto; */
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.wrapper .box {
  color: var(--primary-color);
  background: #1f1e1e;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.wrapper .box i.quote {
  font-size: 20px;
  color: var(--logo-color);
}
.wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .content .image {
  margin-top: 10px;
  margin-left: 65%;
  height: 45px;
  width: 45px;
  padding: 3px;
  background: var(--logo-color);
  border-radius: 50%;
}
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img {
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box {
    width: 100%;
  }
}
.faq_section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.faq_section .faq_title {
  text-align: center;
  font-size: 25px;
}
.faq_section details {
  padding: 20px;
  padding-bottom: 10px;
  width: 800px;
}
.faq_section details summary {
  background-color: #1f1e1e;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  cursor: pointer;
}
.faq_section details p {
  border: 1px solid var(--logo-color);
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
}
.title {
  color: var(--logo-color);
}

/* Contact Section */
.contact_section {
  margin-bottom: 50px;
}
.contact_section .contact_intro {
  text-align: center;
}
.contact_section .contact_intro h2 {
  font-weight: 400;
}
.contact_section .contact_intro p {
  margin-top: 10px;
  color: var(--primary-color);
}
.contact_section .contact_form {
  text-align: center;
  margin-top: 50px;
}
.contact_section .contact_form .form_group {
  padding: 10px;
}
.contact_section .contact_form .form_group input {
  height: 45px;
  width: 500px;
  background: #1f1e1e;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  color: var(--primary-color);
}
.contact_section .contact_form .form_group input::placeholder {
  padding-left: 20px;
}
.contact_section .contact_form .button {
  text-align: center;
}
.contact_section .contact_form .button input {
  height: 50px;
  width: 250px;
  border-radius: initial;
  background: var(--logo-color);
  color: var(--background-color);
  padding-left: initial;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}
.contact_section .contact_form .button input:hover {
  width: 300px;
}
