@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,700&display=swap");

:root {
  /* --background-color: #101820ff; */
  --background-color: rgb(0, 0, 0);
  --primary-color: #eeeeee;
  --logo-color: #ffe600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Courier Prime", monospace;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Navigation Bar Start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px 60px;
  background: var(--background-color);
  color: var(--primary-color);
  border-bottom: 1px solid var(--logo-color);
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--logo-color);
}
header .logo img {
  width: 50px;
}
header .navigation {
  display: flex;
  list-style: none;
}
header .navigation li {
  padding-left: 20px;
}
header .navigation li a {
  font-size: 20px;
}
/* Navigation Bar End */

/* Hero Section Start */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 112px;
  padding-top: 118px;
  background: var(--background-color);
  color: var(--primary-color);
}
.hero .hero_content h1 {
  font-size: 35px;
}
.hero .hero_content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 22px;
}
.hero .hero_content a {
  padding: 10px 10px;
  background: var(--logo-color);
  color: var(--background-color);
  transition: all 0.2s ease-in-out;
}
.hero .hero_content a:hover {
  padding: 10px 15px;
}
/* Hero Section End.... */

/* How To Section Start */
.how_to {
  background: var(--background-color);
  color: var(--primary-color);
  padding-bottom: 50px;
}
.how_to img {
  width: 100px;
}
.how_to .how_to_title {
  font-size: 25px;
  text-align: center;
  padding-top: 60px;
}
.how_to .how_it_works {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.how_to .how_it_works div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #1f1e1e;
  padding: 50px;
  width: 300px;
  height: 300px;
}
.how_to .how_it_works div img {
  padding-bottom: 10px;
}
